__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# outputs
*.csv
*.json

#Data folder
data/

#Excel
*.xlsx

#Draw.io
*.drawio

#R
.Rproj.user/
*.RData
*.RDataTmp
*.Rhistory

# OS
.DS_Store
Thumbs.db

# diagrams
.drawio